<!--
    index.html
    Sam Hiken and James Brink
    
    9 November 2022
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <title>Crossword Crunch</title>
</head>

    <h1> 
        Crossword Crunch
        <img src="static/crunch_logo.png" alt="logo" width="30" height="30">
    </h1>

<body>
    <ul>
        <li><a href="{{url_for('home')}}">Home</a></li>
        <li><a href="{{url_for('dates')}}">Search by Date</a></li>      
        <li><a href="{{url_for('about')}}">About</a></li>      
    </ul>

    <p>
        We plan on implementing a feature that allows users to search for puzzles by date. We may also offer functionality that allows users to look at the frequency of answers over time.
    </p>
</body>
</html>