<!--
    index.html
    Sam Hiken and James Brink
    
    9 November 2022
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='crosswords.js') }}" ></script>
    <title>Crossword Crunch</title>
</head>

    <h2> 
        Crossword Crunch
    </h2>

<body>
    <ul>
        <li><a href="#Home">Home</a></li>
        <li><a href="#About"></a></li>
    </ul>

    <label for="opt-select">Choose what you want to search:</label>

    <select name="search-select" id="search-select">
        <option value="">----</option>
        <option value="clue">Clue</option>
        <option value="answer">Answer</option>
    </select>

    <p>
        <input id="search-box" type="text" />
        <button id="search-button">Search</button>
    </p>

    <p><button id="clues_button">Get clues</button></p>
    <p><table id="clue_table"></table></p>

</body>
</html>