<!--
    index.html
    Sam Hiken and James Brink
    
    9 November 2022
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='crosswords.js') }}" ></script>
    <title>Crossword Crunch</title>
</head>

    <h1> 
        Crossword Crunch
        <img src="static/crunch_logo.png" alt="logo" width="30" height="30">
    </h1>

<body>
    <ul>
        <li><a href="{{url_for('home')}}">Home</a></li>
        <li><a href="{{url_for('clues_answers')}}">Search for Clues and Answers</a></li>      
        <li><a href="{{url_for('dates')}}">Search by Date</a></li>      
        <li><a href="{{url_for('about')}}">About</a></li>      
    </ul>
    
    <p class = "intro">
        Welcome to <b>Crossword Crunch</b>! A place to research cryptic crossword <i>clues</i> and <i>answers</i>!
        <br>
        Please select what you would like to search from the buttons above! 
        <br>
        <br>
        <b><i>Happy crunching!</i></b>

    </p>

    <img src="static/crypticxw.png" alt="Blank cryptic crossword" width="400" height="400">


</body>
</html>